USE [master]
GO
/****** Object:  Database [CIS3365]    Script Date: 4/12/2022 5:53:39 PM ******/
CREATE DATABASE [CIS3365]
 CONTAINMENT = NONE
ALTER DATABASE [CIS3365] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CIS3365].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CIS3365]
GO
/****** Object:  Table [dbo].[Contact_method]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact_method](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [nvarchar](25) NOT NULL,
	[Lname] [nvarchar](25) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phonenum] [nvarchar](10) NULL,
	[BD] [date] NULL,
	[Unique_code] [nvarchar](5) NOT NULL,
	[Address_line] [nvarchar](75) NULL,
	[Customer_typeID] [int] NULL,
	[CountryID] [int] NULL,
	[Amount_discount_have] [int] NULL,
	[City] [nvarchar](50) NULL,
	[Zipcode] [nvarchar](10) NULL,
	[Customer_statusID] [int] NULL,
	[Promo_signup_statusID] [int] NULL,
	[Amount_discount_used] [int] NULL,
	[Registration_date] [date] NULL,
	[StateID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_feedback]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_feedback](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[StoreID] [int] NULL,
	[Feedback] [nvarchar](100) NOT NULL,
	[Customer_feedback_statusID] [int] NOT NULL,
	[Feedback_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_feedback_status]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_feedback_status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_interaction]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_interaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Note] [nvarchar](50) NULL,
	[Customer_interaction_statusID] [int] NULL,
	[Used_discount] [int] NULL,
	[Date_insert] [date] NULL,
	[StoreID] [int] NULL,
	[Date_scheduled] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_interaction_status]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_interaction_status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_note]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_note](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Note] [nvarchar](255) NOT NULL,
	[CustomerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_social]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_social](
	[Social_typeID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Link] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[Social_typeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_social_type]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_social_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_status]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_type]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [nvarchar](25) NOT NULL,
	[Lname] [nvarchar](25) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phonenum] [nvarchar](10) NULL,
	[BD] [date] NULL,
	[Address_line] [nvarchar](75) NULL,
	[CountryID] [int] NULL,
	[Employee_typeID] [int] NULL,
	[City] [nvarchar](50) NULL,
	[Zipcode] [nvarchar](10) NULL,
	[Employee_statusID] [int] NULL,
	[StateID] [int] NULL,
	[Hired_date] [date] NULL,
	[Barber_level] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_note]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_note](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_status]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_type]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incident_list]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incident_list](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Incident_typeID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Note] [nvarchar](100) NULL,
	[Other_employee] [nvarchar](50) NULL,
	[CustomerID] [int] NULL,
	[Cost] [smallmoney] NULL,
	[Date] [date] NULL,
	[StoreID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incident_type]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incident_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preferred_barber]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preferred_barber](
	[CustomerID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preferred_method]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preferred_method](
	[Contact_methodID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[Contact_methodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promo_signup_status]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promo_signup_status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [smallmoney] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[Shortened_name] [nvarchar](10) NOT NULL,
	[Fullname] [nvarchar](100) NOT NULL,
	[CountryID] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Store_name] [nvarchar](50) NOT NULL,
	[Address_line] [nvarchar](75) NULL,
	[CountryID] [int] NULL,
	[City] [nvarchar](50) NULL,
	[Zipcode] [nvarchar](10) NULL,
	[Phonenum] [nvarchar](10) NULL,
	[StateID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Token]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](255) NOT NULL,
	[Time_create] [datetime] NOT NULL,
	[Time_used] [datetime] NULL,
	[Token_statusID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Token_status]    Script Date: 4/12/2022 5:53:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token_status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contact_method] ON 

INSERT [dbo].[Contact_method] ([ID], [Method]) VALUES (1, N'Phone call')
INSERT [dbo].[Contact_method] ([ID], [Method]) VALUES (2, N'Text')
INSERT [dbo].[Contact_method] ([ID], [Method]) VALUES (3, N'Email')
SET IDENTITY_INSERT [dbo].[Contact_method] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([ID], [Name]) VALUES (1, N'Afghanistan')
INSERT [dbo].[Country] ([ID], [Name]) VALUES (2, N'Albania')
INSERT [dbo].[Country] ([ID], [Name]) VALUES (3, N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [Fname], [Lname], [Email], [Phonenum], [BD], [Unique_code], [Address_line], [Customer_typeID], [CountryID], [Amount_discount_have], [City], [Zipcode], [Customer_statusID], [Promo_signup_statusID], [Amount_discount_used], [Registration_date], [StateID]) VALUES (2, N'Tye', N'Weiss', N'yanahdi@gmail.com', N'9048912930', CAST(N'1979-12-15' AS Date), N'A4B8J', N'10099 Main St', 2, 185, 8, N'Houston', N'77089', 1, 2, 0, CAST(N'2021-04-02' AS Date), 95)
INSERT [dbo].[Customer] ([ID], [Fname], [Lname], [Email], [Phonenum], [BD], [Unique_code], [Address_line], [Customer_typeID], [CountryID], [Amount_discount_have], [City], [Zipcode], [Customer_statusID], [Promo_signup_statusID], [Amount_discount_used], [Registration_date], [StateID]) VALUES (3, N'Sam', N'Allen', N'allen.samuel@gmail.com', N'2818980799', CAST(N'1993-01-12' AS Date), N'B7JF5', N'3011 Ferndale St', 1, 185, 0, N'Houston', N'77098', 1, 1, 0, CAST(N'2021-04-03' AS Date), 95)
INSERT [dbo].[Customer] ([ID], [Fname], [Lname], [Email], [Phonenum], [BD], [Unique_code], [Address_line], [Customer_typeID], [CountryID], [Amount_discount_have], [City], [Zipcode], [Customer_statusID], [Promo_signup_statusID], [Amount_discount_used], [Registration_date], [StateID]) VALUES (4, N'Eric', N'Mendez', N'ericmendez93@yahoo.com', N'8327689388', CAST(N'2001-05-25' AS Date), N'A7HB6', N'7463 Fairview Dr', 2, 185, 1, N'Houston', N'77478', 2, 1, 0, CAST(N'2021-04-03' AS Date), 95)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer_feedback] ON 

INSERT [dbo].[Customer_feedback] ([ID], [CustomerID], [StoreID], [Feedback], [Customer_feedback_statusID], [Feedback_date]) VALUES (1, 2, 1, N'Took too long', 5, CAST(N'2021-05-10' AS Date))
INSERT [dbo].[Customer_feedback] ([ID], [CustomerID], [StoreID], [Feedback], [Customer_feedback_statusID], [Feedback_date]) VALUES (2, 3, 2, N'Strange smell', 5, CAST(N'2021-07-12' AS Date))
INSERT [dbo].[Customer_feedback] ([ID], [CustomerID], [StoreID], [Feedback], [Customer_feedback_statusID], [Feedback_date]) VALUES (3, 2, 2, N'Very clean', 5, CAST(N'2021-11-19' AS Date))
SET IDENTITY_INSERT [dbo].[Customer_feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer_feedback_status] ON 

INSERT [dbo].[Customer_feedback_status] ([ID], [Status]) VALUES (1, N'Reviewing')
INSERT [dbo].[Customer_feedback_status] ([ID], [Status]) VALUES (2, N'Reviewed')
INSERT [dbo].[Customer_feedback_status] ([ID], [Status]) VALUES (3, N'Checked')
SET IDENTITY_INSERT [dbo].[Customer_feedback_status] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer_interaction] ON 

INSERT [dbo].[Customer_interaction] ([ID], [ServiceID], [CustomerID], [Note], [Customer_interaction_statusID], [Used_discount], [Date_insert], [StoreID], [Date_scheduled]) VALUES (1, 1, 3, N'Client never came', 2, 0, CAST(N'2022-04-08' AS Date), 1, CAST(N'2022-04-08' AS Date))
INSERT [dbo].[Customer_interaction] ([ID], [ServiceID], [CustomerID], [Note], [Customer_interaction_statusID], [Used_discount], [Date_insert], [StoreID], [Date_scheduled]) VALUES (2, 5, 5, N'Client arrived early', 4, 0, CAST(N'2022-04-08' AS Date), 2, CAST(N'2022-04-08' AS Date))
INSERT [dbo].[Customer_interaction] ([ID], [ServiceID], [CustomerID], [Note], [Customer_interaction_statusID], [Used_discount], [Date_insert], [StoreID], [Date_scheduled]) VALUES (3, 6, 5, N'', 5, 1, CAST(N'2022-04-08' AS Date), 1, CAST(N'2022-04-08' AS Date))
SET IDENTITY_INSERT [dbo].[Customer_interaction] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer_interaction_status] ON 

INSERT [dbo].[Customer_interaction_status] ([ID], [Name]) VALUES (1, N'Scheduled')
INSERT [dbo].[Customer_interaction_status] ([ID], [Name]) VALUES (2, N'Cancelled')
INSERT [dbo].[Customer_interaction_status] ([ID], [Name]) VALUES (3, N'Rescheduled')
SET IDENTITY_INSERT [dbo].[Customer_interaction_status] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer_note] ON 

INSERT [dbo].[Customer_note] ([ID], [Note], [CustomerID]) VALUES (1, N'Loves to get buzzcut', 3)
INSERT [dbo].[Customer_note] ([ID], [Note], [CustomerID]) VALUES (2, N'Prefers Alejandro for cut', 6)
INSERT [dbo].[Customer_note] ([ID], [Note], [CustomerID]) VALUES (3, N'Loves to talk a lot', 8)
SET IDENTITY_INSERT [dbo].[Customer_note] OFF
GO
INSERT [dbo].[Customer_social] ([Social_typeID], [CustomerID], [Link]) VALUES (1, 2, N'https://www.Facebook.com/Tye.Weiss')
INSERT [dbo].[Customer_social] ([Social_typeID], [CustomerID], [Link]) VALUES (2, 2, N'https://www.Twitter.com/Tye.Weiss')
INSERT [dbo].[Customer_social] ([Social_typeID], [CustomerID], [Link]) VALUES (3, 2, N'https://www.Instagram.com/Tye.Weiss')
GO
SET IDENTITY_INSERT [dbo].[Customer_social_type] ON 

INSERT [dbo].[Customer_social_type] ([ID], [Type]) VALUES (1, N'Facebook')
INSERT [dbo].[Customer_social_type] ([ID], [Type]) VALUES (2, N'Twitter')
INSERT [dbo].[Customer_social_type] ([ID], [Type]) VALUES (3, N'Instagram')
SET IDENTITY_INSERT [dbo].[Customer_social_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer_status] ON 

INSERT [dbo].[Customer_status] ([ID], [Name]) VALUES (1, N'Active')
INSERT [dbo].[Customer_status] ([ID], [Name]) VALUES (2, N'Inactive')
INSERT [dbo].[Customer_status] ([ID], [Name]) VALUES (3, N'Blacklisted')
SET IDENTITY_INSERT [dbo].[Customer_status] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer_type] ON 

INSERT [dbo].[Customer_type] ([ID], [Name]) VALUES (1, N'New')
INSERT [dbo].[Customer_type] ([ID], [Name]) VALUES (2, N'Current')
INSERT [dbo].[Customer_type] ([ID], [Name]) VALUES (3, N'Blacklisted')
SET IDENTITY_INSERT [dbo].[Customer_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [Fname], [Lname], [Email], [Phonenum], [BD], [Address_line], [CountryID], [Employee_typeID], [City], [Zipcode], [Employee_statusID], [StateID], [Hired_date], [Barber_level]) VALUES (1, N'Aidan', N'Davies', N'aidanrhysdavies@gmail.com', N'2817971385', CAST(N'1979-12-15' AS Date), N'217 Aldine Bender Rd', 185, 3, N'Houston', N'77060', 1, 95, CAST(N'2022-05-01' AS Date), 1)
INSERT [dbo].[Employee] ([ID], [Fname], [Lname], [Email], [Phonenum], [BD], [Address_line], [CountryID], [Employee_typeID], [City], [Zipcode], [Employee_statusID], [StateID], [Hired_date], [Barber_level]) VALUES (2, N'Dave', N'Shah', N'davekshah@gmail.com', N'2816864322', CAST(N'1993-01-12' AS Date), N'1921 County Road 129', 185, 1, N'Houston', N'77581', 2, 95, CAST(N'2020-12-14' AS Date), 2)
INSERT [dbo].[Employee] ([ID], [Fname], [Lname], [Email], [Phonenum], [BD], [Address_line], [CountryID], [Employee_typeID], [City], [Zipcode], [Employee_statusID], [StateID], [Hired_date], [Barber_level]) VALUES (3, N'Grant', N'McCracken', N'starguygrant@mac.com', N'5094968328', CAST(N'1999-05-24' AS Date), N'6728 Weslayan St', 185, 2, N'Houston', N'77005', 1, 95, CAST(N'2020-06-15' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_note] ON 

INSERT [dbo].[Employee_note] ([ID], [EmployeeID], [Note]) VALUES (1, 1, N'Likes to work on the weekend')
INSERT [dbo].[Employee_note] ([ID], [EmployeeID], [Note]) VALUES (2, 2, N'Calls off often')
INSERT [dbo].[Employee_note] ([ID], [EmployeeID], [Note]) VALUES (3, 3, N'Comes in late regularly')
SET IDENTITY_INSERT [dbo].[Employee_note] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_status] ON 

INSERT [dbo].[Employee_status] ([ID], [Name]) VALUES (1, N'Working')
INSERT [dbo].[Employee_status] ([ID], [Name]) VALUES (2, N'Fired')
INSERT [dbo].[Employee_status] ([ID], [Name]) VALUES (3, N'Vacation')
SET IDENTITY_INSERT [dbo].[Employee_status] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee_type] ON 

INSERT [dbo].[Employee_type] ([ID], [Name]) VALUES (1, N'Full-time')
INSERT [dbo].[Employee_type] ([ID], [Name]) VALUES (2, N'Part-time')
INSERT [dbo].[Employee_type] ([ID], [Name]) VALUES (3, N'Contract')
SET IDENTITY_INSERT [dbo].[Employee_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Incident_list] ON 

INSERT [dbo].[Incident_list] ([ID], [Incident_typeID], [EmployeeID], [Note], [Other_employee], [CustomerID], [Cost], [Date], [StoreID]) VALUES (1, 2, 1, N'Had a big arguement with another employee', N'5', NULL, NULL, CAST(N'2022-01-04' AS Date), 1)
INSERT [dbo].[Incident_list] ([ID], [Incident_typeID], [EmployeeID], [Note], [Other_employee], [CustomerID], [Cost], [Date], [StoreID]) VALUES (2, 1, 4, N'Cut customer, asked for compensation', NULL, 4, 50.0000, CAST(N'2022-01-09' AS Date), 2)
INSERT [dbo].[Incident_list] ([ID], [Incident_typeID], [EmployeeID], [Note], [Other_employee], [CustomerID], [Cost], [Date], [StoreID]) VALUES (3, 1, 4, N'Cut customer wrong style, asked for compensation', NULL, 25, 15.0000, CAST(N'2022-01-11' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Incident_list] OFF
GO
SET IDENTITY_INSERT [dbo].[Incident_type] ON 

INSERT [dbo].[Incident_type] ([ID], [Name]) VALUES (1, N'Customer')
INSERT [dbo].[Incident_type] ([ID], [Name]) VALUES (2, N'Employee')
INSERT [dbo].[Incident_type] ([ID], [Name]) VALUES (3, N'Other')
SET IDENTITY_INSERT [dbo].[Incident_type] OFF
GO
INSERT [dbo].[Preferred_barber] ([CustomerID], [EmployeeID]) VALUES (2, 2)
INSERT [dbo].[Preferred_barber] ([CustomerID], [EmployeeID]) VALUES (3, 4)
INSERT [dbo].[Preferred_barber] ([CustomerID], [EmployeeID]) VALUES (4, 5)
GO
INSERT [dbo].[Preferred_method] ([Contact_methodID], [CustomerID]) VALUES (2, 2)
INSERT [dbo].[Preferred_method] ([Contact_methodID], [CustomerID]) VALUES (2, 3)
INSERT [dbo].[Preferred_method] ([Contact_methodID], [CustomerID]) VALUES (2, 4)
GO
SET IDENTITY_INSERT [dbo].[Promo_signup_status] ON 

INSERT [dbo].[Promo_signup_status] ([ID], [Name]) VALUES (1, N'Yes')
INSERT [dbo].[Promo_signup_status] ([ID], [Name]) VALUES (2, N'No')
INSERT [dbo].[Promo_signup_status] ([ID], [Name]) VALUES (3, N'Ask later')
SET IDENTITY_INSERT [dbo].[Promo_signup_status] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ID], [Description], [Name], [Price]) VALUES (1, N'Haircut service includes any type of fades or scissor work.', N'Haircut', 37.0000)
INSERT [dbo].[Service] ([ID], [Description], [Name], [Price]) VALUES (2, N'Buzz cut includes one guard all around. NO FADING.', N'Buzzcut', 25.0000)
INSERT [dbo].[Service] ([ID], [Description], [Name], [Price]) VALUES (3, N'Straight razor shave of head.', N'Head shave', 32.0000)
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([Shortened_name], [Fullname], [CountryID], [ID]) VALUES (N'AA', N'Armed Forces of the Americas', 185, 1)
INSERT [dbo].[State] ([Shortened_name], [Fullname], [CountryID], [ID]) VALUES (N'AB', N'Alberta', 32, 2)
INSERT [dbo].[State] ([Shortened_name], [Fullname], [CountryID], [ID]) VALUES (N'AE', N'Armed Forces of Europe', 185, 3)
GO
SET IDENTITY_INSERT [dbo].[State] OFF
GO
SET IDENTITY_INSERT [dbo].[Store] ON 

INSERT [dbo].[Store] ([ID], [Store_name], [Address_line], [CountryID], [City], [Zipcode], [Phonenum], [StateID]) VALUES (1, N'Heights', N'244 W 19th St', 185, N'Houston', N'77008', N'7134465163', 95)
INSERT [dbo].[Store] ([ID], [Store_name], [Address_line], [CountryID], [City], [Zipcode], [Phonenum], [StateID]) VALUES (2, N'Washington', N'2203 Washington Ave', 185, N'Houston', N'77007', N'7138647000', 95)
INSERT [dbo].[Store] ([ID], [Store_name], [Address_line], [CountryID], [City], [Zipcode], [Phonenum], [StateID]) VALUES (3, N'Montrose', N'1508 Westheimer Rd', 185, N'Houston', N'77006', N'7133060963', 95)
SET IDENTITY_INSERT [dbo].[Store] OFF
GO
SET IDENTITY_INSERT [dbo].[Token] ON 

INSERT [dbo].[Token] ([ID], [Token], [Time_create], [Time_used], [Token_statusID]) VALUES (1, N'A123JA123N', CAST(N'2022-03-03T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Token] ([ID], [Token], [Time_create], [Time_used], [Token_statusID]) VALUES (2, N'A1KHASD738', CAST(N'2022-03-05T00:00:00.000' AS DateTime), CAST(N'2022-03-30T10:12:12.947' AS DateTime), 3)
INSERT [dbo].[Token] ([ID], [Token], [Time_create], [Time_used], [Token_statusID]) VALUES (3, N'A123JA123N', CAST(N'2022-03-03T00:00:00.000' AS DateTime), CAST(N'2022-03-04T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Token] OFF
GO
SET IDENTITY_INSERT [dbo].[Token_status] ON 

INSERT [dbo].[Token_status] ([ID], [Name]) VALUES (1, N'Active')
INSERT [dbo].[Token_status] ([ID], [Name]) VALUES (2, N'Expired')
INSERT [dbo].[Token_status] ([ID], [Name]) VALUES (3, N'Used')
SET IDENTITY_INSERT [dbo].[Token_status] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__1FA4E363BEB68DDC]    Script Date: 4/12/2022 5:53:40 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[Unique_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__1FA4E363E3E083B6]    Script Date: 4/12/2022 5:53:40 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[Unique_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('1') FOR [Customer_statusID]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('2') FOR [Promo_signup_statusID]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [Amount_discount_used]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [Registration_date]
GO
ALTER TABLE [dbo].[Customer_feedback] ADD  DEFAULT ((4)) FOR [Customer_feedback_statusID]
GO
ALTER TABLE [dbo].[Customer_feedback] ADD  DEFAULT (getdate()) FOR [Feedback_date]
GO
ALTER TABLE [dbo].[Customer_interaction] ADD  DEFAULT ('1') FOR [Customer_interaction_statusID]
GO
ALTER TABLE [dbo].[Customer_interaction] ADD  DEFAULT ((0)) FOR [Used_discount]
GO
ALTER TABLE [dbo].[Customer_interaction] ADD  DEFAULT (getdate()) FOR [Date_insert]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('1') FOR [Employee_statusID]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [Hired_date]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [Barber_level]
GO
ALTER TABLE [dbo].[Incident_list] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Token] ADD  DEFAULT ('1') FOR [Token_statusID]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([Customer_statusID])
REFERENCES [dbo].[Customer_status] ([ID])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([Customer_typeID])
REFERENCES [dbo].[Customer_type] ([ID])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([Promo_signup_statusID])
REFERENCES [dbo].[Promo_signup_status] ([ID])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([StateID])
REFERENCES [dbo].[State] ([ID])
GO
ALTER TABLE [dbo].[Customer_feedback]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Customer_feedback]  WITH CHECK ADD FOREIGN KEY([Customer_feedback_statusID])
REFERENCES [dbo].[Customer_feedback_status] ([ID])
GO
ALTER TABLE [dbo].[Customer_feedback]  WITH CHECK ADD FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([ID])
GO
ALTER TABLE [dbo].[Customer_interaction]  WITH NOCHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Customer_interaction]  WITH NOCHECK ADD FOREIGN KEY([Customer_interaction_statusID])
REFERENCES [dbo].[Customer_interaction_status] ([ID])
GO
ALTER TABLE [dbo].[Customer_interaction]  WITH NOCHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ID])
GO
ALTER TABLE [dbo].[Customer_interaction]  WITH NOCHECK ADD FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([ID])
GO
ALTER TABLE [dbo].[Customer_note]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Customer_social]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Customer_social]  WITH CHECK ADD FOREIGN KEY([Social_typeID])
REFERENCES [dbo].[Customer_social_type] ([ID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Employee_typeID])
REFERENCES [dbo].[Employee_type] ([ID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Employee_statusID])
REFERENCES [dbo].[Employee_status] ([ID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([StateID])
REFERENCES [dbo].[State] ([ID])
GO
ALTER TABLE [dbo].[Employee_note]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Incident_list]  WITH NOCHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Incident_list]  WITH NOCHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Incident_list]  WITH NOCHECK ADD FOREIGN KEY([Incident_typeID])
REFERENCES [dbo].[Incident_type] ([ID])
GO
ALTER TABLE [dbo].[Incident_list]  WITH NOCHECK ADD FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([ID])
GO
ALTER TABLE [dbo].[Preferred_barber]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Preferred_barber]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Preferred_method]  WITH CHECK ADD FOREIGN KEY([Contact_methodID])
REFERENCES [dbo].[Contact_method] ([ID])
GO
ALTER TABLE [dbo].[Preferred_method]  WITH CHECK ADD FOREIGN KEY([Contact_methodID])
REFERENCES [dbo].[Contact_method] ([ID])
GO
ALTER TABLE [dbo].[Preferred_method]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Store]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Store]  WITH CHECK ADD FOREIGN KEY([StateID])
REFERENCES [dbo].[State] ([ID])
GO
ALTER TABLE [dbo].[Token]  WITH CHECK ADD FOREIGN KEY([Token_statusID])
REFERENCES [dbo].[Token_status] ([ID])
GO
USE [master]
GO
